body {
  padding: 0;
  margin: 0;
  background-image: url('http://www.dan-dare.org/Dan%20FRD/FuturamaWallpaper1024.gif') ;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

  text-align: center;
}




.text {
  padding: 10%;
}

.text-box {
  background-color: white;
}

.container {
  background-color: white;
  opacity: 0.5;
}
